/* ----------- GENERAL STYLING ----------- */
/* #F3F2E9; #C2BFB0; #EBEAE2; #DED194; #568678; #376155; */

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'jost', sans-serif;
}

img {
    max-width: 100%;
}

/* skip link */

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #DED194;
  color: #376155;
  padding: 0.5rem 1rem;
  border-radius: 0 0 0.5rem 0;
  text-decoration: none;
  font-weight: 600;
  z-index: 10000;
}

.skip-link:focus {
  top: 0; /* bliver synlig ved tab */
}

/* knapper */
.btn {
  display: inline-block;
  background-color: #DED194;
  font-family: 'josefin sans', sans-serif;
  font-size: 1rem;
  color: #376155;          
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-top: 1.5rem;
  padding-bottom: 1.25rem;
  padding-left: 2rem; 
  padding-right: 2rem;          
  border-radius: 3.75rem;      
  margin-top: 2.5rem; 
  min-width: 12.5rem; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: #376155;
  color: #EBEAE2;
}

/* tekst */
h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    letter-spacing: 0.06rem;
    text-transform: uppercase;
    color: #568678;
}


h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem; 
}

p {
    font-family: 'jost', sans-serif;
    font-size: 1.25rem;
    line-height: 1.6;
    color: #376155;
    letter-spacing: 0.03em;
    margin-top: 1rem;
}

.keywords {
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-size: 0.95rem;
}

/* desktop tekst */
@media (min-width: 769px) {
  h1 {
    font-size: 3.2rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.7rem;
  }

  h4 {
    font-size: 1.2rem;
  }
}

/* --- header og navigation--- */
    
header {
    background-color: #376155;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    position: relative;
    z-index: 1002;
}

header nav {
    display: none;
}

/* logo */
.logo {
    width: 12.5rem;
    display: block;
}

/* nav links */
nav ul {
    list-style-type: none;
    padding: 0;
    gap: 3em;
}

nav li {
    padding: 0.8em;
}

nav li a {
    color: #EBEAE2;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.19rem;
}

nav li a:hover {
    color: #DED194;
}

nav a.active {
  color: #DED194;
}


/* hamburger */
.show {
    display: block;
    position: absolute;
    top: 7rem;
    left: 0;
    background-color: #517d70;
    width: 100%;
    z-index: 1001;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

button#bars {
    background-color: transparent;
    border: none;
    color: #EBEAE2;
    font-size: 1.88rem;
}

/* --- desktop header og navigation--- */

@media screen and (min-width: 769px) {
header {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center; 
}

header nav {
    display: flex;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    margin-left: 1em;
    margin-right: 1em;
  }

#bars {
    display: none;
}
}

/* ----- footer ----- */

footer {
    background-color: #376155;
    color: #F5F4F2;
    font-family: jost, sans-serif;
    padding: 2rem 1rem;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
}

.footer-logo {
    width: 18.75rem;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-nav a {
    color: #EBEAE2;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.13rem;
    font-size: 1rem;
}

.footer-nav a:hover {
    color: #DED194;
}

@media (min-width: 769px) {
.footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    text-align: left;
  }

  .footer-nav ul {
    flex-direction: row;
    gap: 2rem;
    margin-right: 1em;
  }
}

/* ----------- FORSIDE ----------- */

/* ----------- main ----------- */

/* ----- hero ----- */
.hero {
    height: 90vh;      
    display: flex;         
    align-items: center;    
    justify-content: center; 
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* billede */
.hero img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right bottom;
    display: block;
    z-index: 0;  
}

/* -- tekst -- */
.hero div {
    position: absolute;
    text-align: center;
    width: 90%;
    z-index: 1;
    margin-bottom: 2rem;
}

/* paragraph */
.hero div p {
    text-transform: uppercase;
    margin-bottom: 1em;
    font-size: 1rem;
    color: #EBEAE2;
    letter-spacing: 0.1em;
}

/* h1 */
.hero div h1 {
    text-transform: uppercase;
    margin: 0;
    color: #EBEAE2;
    letter-spacing: 0.08em;
    padding: 0 0.4em;
}

/* pause */
.hero div span {
    color: #DED194;
    font-style: italic;
    text-decoration: underline;
    text-decoration-thickness: 0.13rem;
    text-decoration-color: #EBEAE2;
    text-underline-offset: 0.94rem;
}

/* ----- desktop hero ----- */

@media screen and (min-width: 769px) {

.hero div {
    max-width: 60%;
    margin-bottom: 0rem;
}

.hero div p {
    font-size: 1.25rem;
}
}

/* ----- pauser på forside ----- */

.pauser {
    background-color: #F3F2E9;
    text-align: center;
    padding: 3.75rem 1.88rem 5rem 1.88rem;
}

.pauser h2 {
    margin-top: 0.5rem;
    margin-bottom: 3rem;
}

.pauser-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.pauser .col {
  background: #E3E2D6;
  border-radius: 1.25rem;
  padding: 2.5rem 0.63rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.pauser .btn {
    margin-top: 2rem;  
}

/* ----- desktop pauser ----- */

@media screen and (min-width: 769px) {
.pauser-container{
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin: 0 1em;
}

.pauser .col {
    flex: 0 1 32%;
}
}

/* ----- om ----- */

.om {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #E3E2D6;
}

.om video {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.om-text {
  padding: 3rem 2rem;
  text-align: left;
}

.om-text .btn {
  display: inline-block;
  margin-top: 2rem;
  width: auto;
}

.om span {
  font-style: italic;
  color: #376155; 
  text-decoration: underline;
  text-decoration-thickness: 0.13rem;
  text-decoration-color: #568678;
  text-underline-offset: 0.5rem;
}

/* ----- desktop om ----- */
@media (min-width: 769px) {
  .om {
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }

  .om video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .om-text {
    padding: 4rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

/* ----------- KONTAKT ----------- */

.kontakt-side {
  background-color: #F5F4F2;
}

/* ----- hero ----- */
.kontaktform {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 0.5rem;
}

.kontaktform p {
  text-transform: uppercase;
  letter-spacing: 0.07em;
  margin-top: 2rem;
  padding-bottom: 0.5rem;
  color: #376155;
  font-size: 1.2rem;
}
.kontaktform h1 {
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  color: #568678;
}

/* --- kontaktfomular --- */
.kontaktform {
  margin-top: 1rem;
  margin-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.kontaktform form {
  max-width: 46rem;
  margin: 0 auto;
  display: grid;
  gap: 0.8rem;
  background: #EBEAE2;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  text-align: left;
}

/* labels */
.kontaktform label {
  font-family:'Open Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  color: #568678;
  font-size: 1.2rem;
  margin-top: 1rem;
}

/* inputfelter */
.kontaktform input[type="text"],
.kontaktform input[type="email"],
.kontaktform select,
.kontaktform textarea {
  width: 100%;
  padding: 0.9rem 1rem;
  border: 1px solid #C2BFB0;
  border-radius: 0.75rem;
  background: #F5F4F2;
  color: #376155;
  font-size: 1.1rem;
}

/* fokus */
.kontaktform input:focus-visible,
.kontaktform select:focus-visible,
.kontaktform textarea:focus-visible {
  outline: none;
  border-color: #568678;
}

/* submit-knap */
.kontaktform input[type="submit"] {
  justify-self: center;
  width: auto;
  background-color: #DED194;
  color: #376155;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 1.1rem 1.6rem;
  border-radius: 3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
}

.kontaktform input[type="submit"]:hover {
  background-color: #376155;
  color: #EBEAE2;
}

/* ----- desktop kontakt ----- */
@media (min-width: 769px) {
.kontaktform {
  padding: 3rem 2rem 4rem;
}

.kontaktform form {
  padding: 2rem; gap: 1.1rem; 
}
}

.kontaktform h1 {
  font-size: 2.6rem;
  margin-left: 25rem;
  margin-right: 25rem;
}

/* ----------- GUIDEDE PAUSER ----------- */

/* wrapper - alle pause-bokse */
.pauser-liste {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pauser-side {
  background-color: #F5F4F2;
  padding: 3rem 1.5rem 4rem 1.5rem;
  text-align: left;
}

/* intro */
.pauser-side h1 {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  font-size: 2.5rem;
  text-align: center;
}

.pauser-side h2 {
  font-size: 1.8rem;
}

.pauser-side h3 {
  font-size: 1.2rem;
  margin-top: 2rem;
}

/* pause-boks */
.pause-info {
  background-color: #E3E2D6;
  padding: 2rem 1.5rem;
  border-radius: 1.25rem;
  text-align: left;
  max-width: 46rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2.5rem;
  padding-right: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* her finder du... */
.beskrivelsesblok {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.beskrivelsesblok p {
  line-height: 1.5;
  color: #376155;
}

/* pausernes formater */

.format-wrapper {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.format-typer {
  display: flex;
  flex-direction: column;
}

.format-typer p {
  margin: 0.2rem 0;
}

.format-ikoner {
  display: flex;
  flex-direction: column;
}

.format-ikoner p {
  margin: 0.2rem 0;
}

.format-ikoner i {
  font-size: 1.1rem;
  color: #376155;
}

/* pausernes længde */

.laengde-blok {
  margin-top: 1.5rem;
}

.laengde-wrapper {
  display: flex;
  gap: 1rem;
}

.laengde-typer p,
.laengde-tider p {
  margin-top: 0.5rem;
}

/* knap */
.pause-info .btn {
  margin-top: 3rem;
  display: inline-block;
  text-align: center;
}

/* ---------- desktop guidede pauser ---------- */

@media (min-width: 769px) {
.pauser-side {
    text-align: center;
  }  

.pauser-side h1 {
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.pauser-side h2 {
  font-size: 1.8rem;
}

.pauser-side h3 {
  font-size: 1.2rem;
}
  .pauser-liste {
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
  }

  .pause-info {
    width: 25%;
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 2rem;
    flex: 0 1 48%;
  }
}